<div class="card">
    <div class="card-body">
        <h1>Abour</h1>
        <p>
            loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
            loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
            loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
            loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
            loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
        </p>
    </div>
</div>