<div class="jumbotron mt-4">
    <h1>Notes App NodeJs and MongoDB</h1>
    <p class="lead">lorenlorenlorenlorenlorenlorenlorenlorenlorenlorenlorenlorenlorenlorenloren</p>
    <hr class="my-4">
    <p>
        loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
        loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
        loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
        loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
        loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,
        loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren,loren
    </p>
    <a href="#" class="btn ntn-primary">Dev-Web</a>
</div>